<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Handling</title>
    <link href="inc/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container py-5" id="app">
    <h2 class="text-center text-success">Vote your favorite framework</h2>
    <hr/>
    <ul v-for="framework of favoriteFrameworks" class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">{{framework.name}}
            <button v-on:click="upvote(framework)" class="btn btn-outline-primary">upvote&nbsp;<span class="badge badge-primary badge-pill">{{framework.scores}}</span></button>
        </li>
    </ul>
    <div class="mt-4">
    <form v-on:submit.prevent="handleSubmit">
    <div class="input-group">
        <input v-model="framework" type="text" class="form-control" placeholder="Enter your another favorite framework">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
    </div>
    </form>
    </div>
</div>
<script src="inc/vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            favoriteFrameworks:[
                {name:'Angular JS',scores:0},
                {name:'React JS',scores:0},
                {name:'Vue JS',scores:0},
                {name:'ASP.NET',scores:0},
            ],
            framework:'',

        },
        methods:{
            upvote(framework){
                framework.scores++
            },
            handleSubmit(){
                this.favoriteFrameworks.push({
                    name:this.framework,
                    scores:0
                });
                this.framework = ''
            }
        }
    });
</script>
</body>
</html>